name: Update Quote

on:
  workflow_dispatch:  #Manually trigger the workflow
  schedule:
    - cron: '0 17 * * *'  # Schedule daily at 12:00 AM VN time

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 14

      - name: Install dependencies
        run: npm install

      - name: Update Quote
        run: node update-quote.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit and push changes
        run: |
          git add README.md
          git -c user.name='dinhtrung0706' -c user.email='dinhductrung0706@gmail.com' commit -m "docs: Update README with daily quote" -a
          git push

